$track-w: 100%;
$thumb-d: 0em;


@mixin track($fill: 0) {
	box-sizing: border-box;
	border: none;
	width: $track-w; 
	height: $control-height;
	background: $not-active;
	
	@if $fill == 1 {
		.js & {
			background: linear-gradient($active, $active)
				0/ var(--sx) 100% no-repeat $not-active;
		}
	}
}

@mixin fill() {
	height: $control-height;
	background: $active;
}

@mixin thumb() {
	box-sizing: border-box;
	border: none;
	width: $thumb-d; 
	height: $thumb-d;
	border-radius: 50%;
	background: #f90;
}

[type='range'] {
	&, &::-webkit-slider-thumb {
		-webkit-appearance: none;
        outline: none;
	}
	
	--range: calc(var(--max) - var(--min));
	--ratio: calc((var(--val) - var(--min))/var(--range));
	--sx: calc(.5*#{$thumb-d} + var(--ratio)*(100% - #{$thumb-d}));
	margin: 0;
	padding: 0;
	margin-bottom: 3px;
	width: $track-w; 
	height: $control-height;
	border-radius: $radius;
	border: 1px solid $control-background;
	background: transparent;
	font: 1em/1 arial, sans-serif;
	box-sizing: border-box;
	
	&::-webkit-slider-runnable-track {
		@include track(1);
		border-radius: $radius;
	}
	&::-moz-range-track { 
		@include track;
		border-radius: $radius;
	}
	&::-ms-track { 
		@include track;
	}

	&::-moz-range-progress { 
		@include fill;
		border-radius: $radius 0px 0px $radius;
	}
	&::-ms-fill-lower { @include fill }
	
	&::-webkit-slider-thumb {
		margin-top: .5*($control-height - $thumb-d);
		@include thumb
	}
	&::-moz-range-thumb { @include thumb }
	&::-ms-thumb {
		margin-top: 0;
		@include thumb
	}
	
	&::-ms-tooltip { display: none }
}

// .dashboard [type='range'] {
// 	height: 100%;
	
// 	&::-webkit-slider-runnable-track {
// 		height: 100%;
// 	}
// }

