<h1>{{@dashboard.name}}</h1>

{{#each @dashboard.sortedControls as |control|}}
    {{#let (component control.constructor.modelName) as |WhateverName|}}
        <WhateverName @control={{control}} />
    {{/let}}
{{/each}}

{{yield}}