<div class="group {{ if this.settings.displayLayout "layout" "responsive" }}" {{ style this.positionStyles }}>
    {{#each @control.sortedControls as |c|}}
        {{#let (component c.constructor.modelName) as |TheComponent|}}
            <TheComponent 
                @control={{c}} 
            />
        {{/let}}
    {{/each}}
</div>

{{yield}}