<div class="password-container">
    <form class="password-form">
        {{#if this.args.dashboard.unlocked}}
            Successfully unlocked.
        {{else}}
            <div class="prompt">
                {{yield}}
            </div>
            
            <input type="password" class="string-input" {{ autofocus }}>
            
            <button
                {{ on "click" this.passwordUpdated }}
                class="password-button"
            >
                Unlock
            </button>
        {{/if}}
    </form>
</div>